<?xml version="1.0"?>
<model>
  <name>RH-Y</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Abhinav Jain</name>
   <email>abhinav.jain@heig-vd.ch</email>
  </author>

  <description>
    RH-Y is the personal assistant robot built at HEIG-VD for participating in Robocup @ Home competition.
  </description>
</model>