<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find rhy_basic)/world/c38v1.world"/>
	</include>
	<group ns="rhy">
		<include file="$(find rhy_basic)/launch/include/rh-y.launch">
			<arg name="robot_name" value="rhy"/>
			<arg name="init_pose" value="-x -1.0 -y -1.0 -z 0"/>
		</include>
	</group>
	<!-- <node pkg="rhy_basic" type="rhyTest" name="rhyTest" respawn="false" /> -->
</launch>